<template>
  <header class="header">
    <div class="header-top pt_3">
      <div class="container d_flex flex_row justify_content_between">
        <div class="header-top-lef d_flex flex_row">
          <div class="header-top-lef-welcome">
            <span>Default welcome msg!</span>
          </div>
          <div class="header-top-lef-tell ml_3">
            <a href="tel:+901774744">+901774744</a>
          </div>
        </div>
        <div class="header-top-right d_flex flex_row">
          <nuxt-link to="" class="text_black_50 my_2">About</nuxt-link>
          <nuxt-link to="" class="text_black_50 my_2">Contact</nuxt-link>
          <nuxt-link to="" class="text_black_50 my_2">Store Location</nuxt-link>
          <nuxt-link to="" class="text_black_50 my_2">Blog</nuxt-link>
        </div>
      </div>
    </div>
    <div class="header-center">
      <div class="container wrapper my_4 d_flex justify_content_between">
        <div class="logo">
          <nuxt-link to="/" class="logo-links"> Ny-Mart </nuxt-link>
        </div>
        <div class="search-input header-center-search">
          <input type="text" placeholder="Type to search..." />
          <div class="autocom-box">
            <li class="autocom-box-item">Login From in HTML & CSS</li>
            <li class="autocom-box-item">Login From in HTML & CSS</li>
            <li class="autocom-box-item">Login From in HTML & CSS</li>
            <li class="autocom-box-item">Login From in HTML & CSS</li>
            <li class="autocom-box-item">Login From in HTML & CSS</li>
          </div>
          <div class="icon">
            <font-awesome-icon :icon="['fas', 'search']" />
          </div>
        </div>
        <div class="header-center-cart d_flex ml_4 justify_content_between">
          <div class="header-center-cart-content d_flex pr_2">
            <div
              class="cart-left-icon pr_3 text_black_50"
              style="font-size: 25px"
            >
              <font-awesome-icon :icon="['fas', 'user']" />
            </div>
            <div class="cart-left-content d_flex flex_column">
              <span style="font-weight: 600">Account</span>
              <span>Hello! Sign in</span>
            </div>
          </div>
          <div class="header-center-cart-content d_flex pr_2">
            <div
              class="cart-left-icon pr_3 text_black_50"
              style="font-size: 25px"
            >
              <font-awesome-icon :icon="['fas', 'heart']" />
            </div>
            <div class="cart-left-content d_flex flex_column">
              <span style="font-weight: 600">Wishlist</span>
              <span>0 item</span>
            </div>
          </div>
          <div class="header-center-cart-content d_flex">
            <div
              class="cart-left-icon pr_3 text_black_50"
              style="font-size: 25px"
            >
              <font-awesome-icon :icon="['fas', 'shopping-basket']" />
            </div>
            <div class="cart-left-content d_flex flex_column">
              <span style="font-weight: 600">Cart</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="wrapper">
        <input id="menu-btn" class="d-none" type="radio" name="slide" />
        <input id="cancel-btn" class="d-none" type="radio" name="slide" />
        <ul class="nav-links">
          <label for="cancel-btn" class="btn cancel-btn"
            ><font-awesome-icon :icon="['fas', 'window-close']"
          /></label>
          <li class="d-none categories mr-2 text-center" style="width: 200px">
            <span>
              <font-awesome-icon :icon="['fas', 'bars']" />
            </span>
            <span class="ml-1">ALL CATEGORIES</span>
          </li>
          <li>
            <nuxt-link to="/">Home</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/computers" class="desktop-item"
              >Computers & Laptops</nuxt-link
            >
            <input id="shopDrop" type="checkbox" />
            <label for="shopDrop" class="mobile-item"
              >Computers & Laptops</label
            >
            <ul class="drop-menu">
              <li><nuxt-link to="/">Drop Menu 1</nuxt-link></li>
              <li><nuxt-link to="/">Drop Menu 2</nuxt-link></li>
              <li><nuxt-link to="/">Drop Menu 3</nuxt-link></li>
              <li><nuxt-link to="/">Drop Menu 4</nuxt-link></li>
            </ul>
          </li>
          <li>
            <nuxt-link to="/accessories">Accessories</nuxt-link>
          </li>
          <li class="tv-audio">
            <nuxt-link to="/tv">Tv & Audio</nuxt-link>
            <ul class="tv-box">
              <li>
                <div class="content">
                  <div class="row">
                    <img src="@/static/img/image.white.jpeg" alt="" />
                  </div>
                  <div class="row d_flex flex_column">
                    <header>Design Services</header>
                    <ul class="tv-links">
                      <li><nuxt-link to="/">Graphics</nuxt-link></li>
                      <li><nuxt-link to="/">Vectors</nuxt-link></li>
                      <li><nuxt-link to="/">Business Cards</nuxt-link></li>
                      <li><nuxt-link to="/">Custom Logo</nuxt-link></li>
                    </ul>
                  </div>
                  <div class="row d_flex flex_column">
                    <header>Design Services</header>
                    <ul class="tv-links">
                      <li><nuxt-link to="/">Graphics</nuxt-link></li>
                      <li><nuxt-link to="/">Vectors</nuxt-link></li>
                      <li><nuxt-link to="/">Business Cards</nuxt-link></li>
                      <li><nuxt-link to="/">Custom Logo</nuxt-link></li>
                    </ul>
                  </div>
                  <div class="row d_flex flex_column">
                    <header>Design Services</header>
                    <ul class="tv-links">
                      <li class="tv-links-item">
                        <nuxt-link to="/">Graphics</nuxt-link>
                      </li>
                      <li class="tv-links-item">
                        <nuxt-link to="/">Vectors</nuxt-link>
                      </li>
                      <li class="tv-links-item">
                        <nuxt-link to="/">Business Cards</nuxt-link>
                      </li>
                      <li class="tv-links-item">
                        <nuxt-link to="/">Custom Logo</nuxt-link>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </li>
          <li>
            <nuxt-link to="/contact">Contact</nuxt-link>
          </li>
          <li>
            <nuxt-link to="/blog">Blog</nuxt-link>
          </li>
        </ul>
        <label for="menu-btn" class="btn menu-btn"
          ><font-awesome-icon :icon="['fas', 'bars']"
        /></label>
        <div class="logo-nav logo">
          <div class="logo font-weight-bold text-white">
            <nuxt-link to="/" class="logo-links"> Ny-Mart </nuxt-link>
          </div>
        </div>
        <div class="search-nav">
          <div class="icon">
            <font-awesome-icon :icon="['fas', 'search']" />
          </div>
        </div>
      </div>
    </nav>
    <MenuDropDown class="d-none" />
  </header>
</template>
<script>
import MenuDropDown from '@/components/Header/MenuDropDown/index'
export default {
  components: {
    MenuDropDown,
  },
}
</script>
<style lang="scss" scoped>
header {
  .header-top {
    .container {
      .header-top-lef {
        &-tell::after,
        &-tell::before {
          padding-left: 10px;
          display: inline-block;
          content: '';
          height: 13px;
          width: 1px;
          border-style: solid;
          border-width: 0 0 0 1px;
          border-color: #ccc;
          margin: 0 0 0 15px;
          vertical-align: middle;
        }
      }
      .header-top-right {
        a::after {
          padding-left: 10px;
          display: inline-block;
          content: '';
          height: 13px;
          width: 1px;
          border-style: solid;
          border-width: 0 0 0 1px;
          border-color: #ccc;
          margin: 0 0 0 15px;
          vertical-align: middle;
        }
      }
    }
  }
  .header-center {
    .container {
      .logo {
        width: 25%;
        text-align: left;
        .logo-links {
          font-size: 27px;
          font-weight: 600;
          color: black;
        }
      }
      .search-input {
        width: 50%;
        background: #fff;
        position: relative;
        border-radius: 100px;
        input {
          height: 55px;
          width: 100%;
          border: none;
          outline: none;
          padding: 0 60px 0 20px;
          font-size: 18px;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          border-radius: 100px;
        }
        .icon {
          width: 52px;
          height: 52px;
          line-height: 52px;
          position: absolute;
          top: 2px;
          right: 7px;
          text-align: center;
          font-size: 20px;
          cursor: pointer;
        }
        .autocom-box {
          //padding: 10px 6px;
          overflow: auto;
          max-height: 280px;
          opacity: 0;
          pointer-events: none;
          &-item {
            padding: 8px 12px;
            width: 100%;
            cursor: default;
            border-radius: 3px;
            display: none;
          }
          &-item:hover {
            background: #efefef;
          }
        }
      }
      .header-center-cart {
        width: 30%;
      }
    }
  }
  nav {
    height: 65px;
    background: #445268;
    width: 100%;
    z-index: 999;
    //height: 65px;
    line-height: 65px;
    .wrapper {
      max-width: 1250px;
      padding: 0 30px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo-nav,
      .search-nav {
        display: none;
      }
      .menu-btn {
        font-size: 30px;
        margin-top: 6px;
      }
      .cancel-btn {
        position: absolute;
        right: 30px;
        top: 10px;
      }
      .categories {
        background: #f6d075;
      }
      .categories .categories-link:hover {
        background: none;
      }
      .nav-links {
        flex-wrap: wrap;
        display: inline-flex;
        li {
          a {
            color: white;
            font-size: 18px;
            font-weight: 500;
            padding: 9px 15px;
            border-radius: 5px;
            transition: all 0.3s ease;
          }
          a:hover {
            background: #3e4b60;
            text-decoration: none;
          }
          .drop-menu {
            background: #445268;
            width: 180px;
            line-height: 45px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            li {
              a {
                border-radius: 0;
                width: 100%;
                display: block;
                padding: 0 0 0 15px;
                font-weight: 400;
              }
            }
          }
          .mobile-item {
            display: none;
          }
        }
        li:hover .drop-menu {
          visibility: visible;
          opacity: 1;
          z-index: 2;
          transition: all 0.3s ease;
        }
        .tv-box {
          position: absolute;
          width: 100%;
          left: 0;
          opacity: 0;
          visibility: hidden;
          padding: 0 30px;
          .content {
            background: #445268;
            padding: 25px 20px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            .row {
              width: calc(25% - 30px);
              line-height: 45px;
              img {
                height: auto;
              }
              header {
                font-size: 20px;
                color: #f2f2f2;
                font-weight: 500;
              }
              .tv-links {
                margin-left: 0;
                border-left: 0;
                li:hover {
                  background: #3e4b60;
                }
              }
            }
            .row:nth-child(1),
            .row:nth-child(2) {
              border-left: 0;
            }
          }
        }
        .tv-audio:hover > .tv-box {
          visibility: visible;
          opacity: 1;
          padding: 0;
          z-index: 2;
          transition: all 0.3s ease;
        }
      }
      #shopDrop {
        display: none;
      }
      .btn {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        display: none;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  header {
    .header-top,
    .header-center {
      display: none;
    }
    nav {
      position: fixed;
      top: 0;
      .wrapper {
        .logo-nav {
          display: block;
          font-size: 30px;
          .logo-links {
            color: #f2f2f2;
          }
        }
        .search-nav {
          display: block;
          color: #f2f2f2;
          font-size: 20px;
          cursor: pointer;
        }
        .nav-links {
          z-index: 5;
          position: fixed;
          height: 100vh;
          width: 100%;
          max-width: 350px;
          display: block;
          top: 0;
          left: -100%;
          background: #445268;
          overflow-y: auto;
          line-height: 50px;
          padding: 50px 10px;
          box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
          li {
            margin: 15px 10px;
            .desktop-item {
              display: none;
            }
            a {
              padding: 0 20px;
              display: block;
              font-size: 20px;
            }
            .drop-menu {
              position: static;
              opacity: 1;
              visibility: visible;
              top: 65px;
              padding-left: 20px;
              width: 100%;
              max-height: 0;
              overflow: hidden;
              li {
                margin: 0;
                a {
                  font-size: 18px;
                  border-radius: 5px;
                }
              }
            }
            #shopDrop:checked ~ .drop-menu {
              max-height: 100%;
            }
            .mobile-item {
              display: block;
              font-size: 20px;
              color: #f2f2f2;
              font-weight: 500;
              cursor: pointer;
              padding-left: 20px;
              border-radius: 5px;
              transition: all 0.3s ease;
            }
            .mobile-item:hover {
              background: #3e4b60;
            }
          }
          .tv-box {
            position: static;
            width: 100%;
            top: 65px;
            opacity: 1;
            visibility: visible;
            padding: 0 20px;
          }
          .content {
            background: #445268;
            flex-direction: column;
            padding: 20px 20px 0 20px;
          }
          .row {
            width: 100%;
            margin-bottom: 15px;
            border-top: 1px solid rgba(255, 255, 255, 0.08);
            header {
              font-size: 19px;
            }
            .tv-links {
              border-left: 0;
              padding-left: 15px;
              li {
                margin: 0;
              }
            }
          }
          .tv-audio {
            .tv-box {
              li {
                .content {
                  .row {
                    width: 100%;
                  }
                  .row:nth-child(1),
                  .row:nth-child(2) {
                    border-top: 0;
                  }
                }
              }
            }
          }
          .tv-audio:hover > .tv-box {
            padding: 0 20px;
          }
        }
        #menu-btn:checked ~ .nav-links {
          left: 0;
        }
        #cancel-btn:checked ~ .nav-links {
          left: -100%;
        }
        .btn {
          display: block;
        }
      }
    }
  }
}
</style>

<!--10:35 -->
<!--nav {-->
<!--.wrapper {-->
<!--.nav-links {-->
<!--position: fixed;-->
<!--height: 100vh;-->
<!--width: 100%;-->
<!--max-width: 350px;-->
<!--top: 0;-->
<!--left: -100%;-->
<!--background: #242526;-->
<!--display: block;-->
<!--padding: 50px 10px;-->
<!--line-height: 50px;-->
<!--overflow-y: auto;-->
<!--box-shadow: 0 15px 15px rgba(0, 0, 0, 0.18);-->
<!--transition: all 0.3s ease;-->
<!--li {-->
<!--margin: 15px 10px;-->
<!--a {-->
<!--padding: 0 20px;-->
<!--display: block;-->
<!--font-size: 20px;-->
<!--}-->
<!--.drop-menu {-->
<!--position: static;-->
<!--opacity: 1;-->
<!--top: 65px;-->
<!--visibility: visible;-->
<!--padding-left: 20px;-->
<!--width: 100%;-->
<!--max-height: 0;-->
<!--overflow: hidden;-->
<!--box-shadow: none;-->
<!--transition: all 0.3s ease;-->
<!--li {-->
<!--margin: 0;-->
<!--a {-->
<!--border-radius: 5px;-->
<!--font-size: 18px;-->
<!--}-->
<!--}-->
<!--}-->
<!--#shopDrop:checked ~ .drop-menu,-->
<!--#showMega:checked ~ .mega-box {-->
<!--max-height: 100%;-->
<!--}-->
<!--.desktop-item {-->
<!--display: none;-->
<!--}-->
<!--.mobile-item {-->
<!--display: block;-->
<!--color: #f2f2f2;-->
<!--font-size: 20px;-->
<!--font-weight: 500;-->
<!--padding-left: 20px;-->
<!--cursor: pointer;-->
<!--border-radius: 5px;-->
<!--transition: all 0.3s ease;-->
<!--}-->
<!--.mobile-item:hover {-->
<!--background: #3e4b60;-->
<!--}-->
<!--.btn {-->
<!--color: #fff;-->
<!--font-size: 20px;-->
<!--cursor: pointer;-->
<!--display: none;-->
<!--.cancel-btn {-->
<!--position: absolute;-->
<!--right: 30px;-->
<!--top: 10px;-->
<!--}-->
<!--}-->
<!--}-->
<!--.tv-box {-->
<!--position: static;-->
<!--top: 65px;-->
<!--opacity: 1;-->
<!--visibility: visible;-->
<!--padding: 0 20px;-->
<!--max-height: 0;-->
<!--overflow: hidden;-->
<!--transition: all 0.3s ease;-->
<!--.content {-->
<!--box-shadow: none;-->
<!--flex-direction: column;-->
<!--padding: 20px 20px 0 20px;-->
<!--.row {-->
<!--width: 100%;-->
<!--margin-bottom: 15px;-->
<!--border-top: 1px solid rgba(255, 255, 255, 0.08);-->
<!--img {-->
<!--width: 100%;-->
<!--}-->
<!--header {-->
<!--font-size: 19px;-->
<!--}-->
<!--.tv-links {-->
<!--border-left: 0;-->
<!--padding-left: 15px;-->
<!--&-item {-->
<!--margin: 0;-->
<!--a {-->
<!--padding: 0 20px;-->
<!--color: #d9d9d9;-->
<!--font-size: 20px;-->
<!--display: block;-->
<!--}-->
<!--}-->
<!--}-->
<!--}-->
<!--.row:nth-child(1),-->
<!--.row:nth-child(2) {-->
<!--border-top: 0;-->
<!--}-->
<!--}-->
<!--}-->
<!--}-->
<!--.menu-btn {-->
<!--color: #fff;-->
<!--display: block;-->
<!--margin-top: 8px;-->
<!--font-size: 30px;-->
<!--}-->
<!--input {-->
<!--display: none;-->
<!--}-->
<!--}-->
<!--}-->
