<template>
  <div class="accessories">
    <div class="container d_flex flex_column">
      <Banner />
    </div>
  </div>
</template>
<script>
import Banner from '@/components/HomePage/SectionBanner/index'
export default {
  components: {
    Banner,
  },
}
</script>
