<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      controls
      indicators
      background="#ababab"
      img-width="1024"
      img-height="480"
      style="text-shadow: 1px 1px 2px #333; max-height: 350px"
      @sliding-start="onSlideStart"
      @sliding-end="onSlideEnd"
    >
      <!-- Text slides with image -->
      <b-carousel-slide
        style="max-height: 350px"
        caption="First slide"
        text="Nulla vitae elit libero, a pharetra augue mollis interdum."
        img-src="https://m2.alothemes.com/expert/media/magiccart/magicslider/s/l/slide1-1.jpg"
      ></b-carousel-slide>

      <!-- Slides with custom text -->
      <b-carousel-slide
        style="max-height: 350px"
        img-src="https://m2.alothemes.com/expert/media/magiccart/magicslider/s/l/slide1-2.jpg"
      >
      </b-carousel-slide>

      <!-- Slides with image only -->
      <b-carousel-slide
        style="max-height: 350px"
        img-src="https://m2.alothemes.com/expert/media/magiccart/magicslider/s/l/slide1-3.jpg"
      ></b-carousel-slide>

      <!-- Slides with img slot -->
      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide style="max-height: 300px">
        <template #img>
          <img
            class="d-block img-fluid w-100"
            width="1024"
            height="480"
            src="https://m2.alothemes.com/expert/media/magiccart/magicslider/s/l/slide1-1.jpg"
            alt="image slot"
          />
        </template>
      </b-carousel-slide>
    </b-carousel>
  </div>
</template>

<script>
export default {
  data() {
    return {
      slide: 0,
      sliding: null,
    }
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true
    },
    onSlideEnd(slide) {
      this.sliding = false
    },
  },
}
</script>
