<template>
  <div class="computed">
    <div class="header w-100 my-4 d-flex">
      <div class="left"><nuxt-link to="/">Home</nuxt-link></div>
      <span class="mx-2">/</span>
      <div class="right">
        <nuxt-link to="/">Computers & Laptop</nuxt-link>
      </div>
    </div>
    <DeckList />
  </div>
</template>
<script>
import DeckList from '@/components/CardList/Cards/index'
export default {
  components: {
    DeckList,
  },
}
</script>
