<template>
  <div class="computer">
    <div class="container d_flex flex_column">
      <Computers />
    </div>
  </div>
</template>
<script>
import Computers from '@/components/CardList/index'
export default {
  components: {
    Computers,
  },
}
</script>
