<template>
  <div>
    <div class="box"></div>
    <div class="banner-bt normal pt-5">
      <div class="container">
        <div class="banner-row row justify_content_between">
          <div class="banner-row-item col-md-4 col-sm-4 pr_3">
            <div class="banner-row-item-sub">
              <nuxt-link to="/home/myproduct_id" class="link-banner-bt">
                <img
                  class="img-banner-bt"
                  src="https://m2.alothemes.com/expert/media/wysiwyg/alothemes/static/demo1/img1a.jpg"
                  alt=""
                />
              </nuxt-link>
            </div>
          </div>
          <div class="banner-row-item col-md-4 col-sm-4 pr_3">
            <div class="banner-row-item-sub">
              <nuxt-link to="/home/myproduct_id" class="link-banner-bt">
                <img
                  class="img-banner-bt"
                  src="https://m2.alothemes.com/expert/media/wysiwyg/alothemes/static/demo1/img1a.jpg"
                  alt=""
                />
              </nuxt-link>
            </div>
          </div>
          <div class="banner-row-item col-md-4 col-sm-4 pr_3">
            <div class="banner-row-item-sub">
              <nuxt-link to="/home/myproduct_id" class="link-banner-bt">
                <img
                  class="img-banner-bt"
                  src="https://m2.alothemes.com/expert/media/wysiwyg/alothemes/static/demo1/img1a.jpg"
                  alt=""
                />
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box"></div>
    <div class="maincontent sale clock">
      <div class="container">
        <div class="maincontent-wrap row">
          <div class="custom-product random col">
            <div class="custom-product-image">
              <div class="custom-product-image-sub">
                <img
                  src="https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/1/_/1_12.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="custom-product-content">
              <div class="custom-product-content-sub">
                <div class="price el-icon-price-tag">200.000</div>
                <div class="el-image__preview">
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                </div>
                <div class="name">
                  <nuxt-link to="/home/myproduct_id"
                    ><h6 class="font-weight-bold">
                      Industrial Air Contractor CTA5090412
                    </h6></nuxt-link
                  >
                </div>
              </div>
            </div>
            <div class="click-bt py-3 text-center">
              <b-button variant="outline-secondary" class="btn-block"
                >See all New Products</b-button
              >
            </div>
          </div>
          <div class="custom-product random col">
            <div class="custom-product-image">
              <div class="custom-product-image-sub">
                <img
                  src="https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/1/_/1.png"
                  alt=""
                />
              </div>
            </div>
            <div class="custom-product-content">
              <div class="custom-product-content-sub">
                <div class="price el-icon-price-tag">200.000</div>
                <div class="el-image__preview">
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                </div>
                <div class="name">
                  <nuxt-link to="/home/myproduct_id"
                    ><h6 class="font-weight-bold">
                      Industrial Air Contractor CTA5090412
                    </h6></nuxt-link
                  >
                </div>
              </div>
            </div>
            <div class="click-bt py-3 text-center">
              <b-button variant="outline-secondary" class="btn-block"
                >See all New Products</b-button
              >
            </div>
          </div>
          <div class="custom-product random col">
            <div class="custom-product-image">
              <div class="custom-product-image-sub">
                <img
                  src="https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/3/_/3.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="custom-product-content">
              <div class="custom-product-content-sub">
                <div class="price el-icon-price-tag">200.000</div>
                <div class="el-image__preview">
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                </div>
                <div class="name">
                  <nuxt-link to="/home/myproduct_id"
                    ><h6 class="font-weight-bold">
                      Industrial Air Contractor CTA5090412
                    </h6></nuxt-link
                  >
                </div>
              </div>
            </div>
            <div class="click-bt py-3 text-center">
              <b-button variant="outline-secondary" class="btn-block"
                >See all New Products</b-button
              >
            </div>
          </div>
          <div class="custom-product random col">
            <div class="custom-product-image">
              <div class="custom-product-image-sub">
                <img
                  class="img-fluid"
                  src="https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/6/_/6_11.jpg"
                  alt=""
                />
              </div>
            </div>
            <div class="custom-product-content">
              <div class="custom-product-content-sub">
                <div class="price el-icon-price-tag">200.000</div>
                <div class="el-image__preview">
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                  <p class="el-icon-star-on"></p>
                </div>
                <div class="name">
                  <nuxt-link to="/home/myproduct_id"
                    ><h6 class="font-weight-bold">
                      Industrial Air Contractor CTA5090412
                    </h6></nuxt-link
                  >
                </div>
                <div id="clock">
                  <CountDownClock
                    :year="2021"
                    :month="4"
                    :date="28"
                    :hour="20"
                    :minutes="15"
                    :second="0"
                    :millisecond="0"
                  />
                </div>
              </div>
            </div>
            <div class="click-bt py-3">
              <button class="btn btn-block btn-warning">
                <nuxt-link to="/home/myproduct_id" class="text-black-50"
                  >Add To Card</nuxt-link
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="magicproduct">
      <div class="container d_flex flex_column">
        <div class="magicproduct-top d_flex flex_row justify_content_between">
          <div class="magicproduct-top-left">
            <h5 class="py_4 pl_3">{{ title }}</h5>
          </div>
        </div>
        <DeckListMagicProduct />
      </div>
    </div>
    <div class="box"></div>
    <div class="box-product tow">
      <div class="container d_flex flex_column">
        <div class="magicproduct-top d_flex flex_row justify_content_between">
          <div class="magicproduct-top-left">
            <h5 class="pt_5 pl_3">FEATURED PRODUCTS</h5>
          </div>
          <div class="magicproduct-top-right d_flex pt_5">
            <div class="magicproduct-top-right-item pr_3">
              <p>Featured Products</p>
            </div>
            <div class="magicproduct-top-right-item pr_3">
              <p>Latest Products</p>
            </div>
            <div class="magicproduct-top-right-item">
              <p>Random Products</p>
            </div>
          </div>
        </div>
        <DeckListMagicProduct />
        <div class="magicproduct-top-banner">
          <div class="magicproduct-top-banner-image">
            <img
              src="https://m2.alothemes.com/expert/media/wysiwyg/alothemes/static/demo1/img1d.jpg"
            />
          </div>
        </div>
      </div>
      <div class="container d_flex flex_column">
        <div class="magicproduct-top d_flex flex_row justify_content_between">
          <div class="magicproduct-top-left">
            <h5 class="pt_5 pl_3">FEATURED PRODUCTS</h5>
          </div>
          <div class="magicproduct-top-right d_flex pt_5">
            <div class="magicproduct-top-right-item pr_3">
              <p>Featured Products</p>
            </div>
            <div class="magicproduct-top-right-item pr_3">
              <p>Featured Products</p>
            </div>
            <div class="magicproduct-top-right-item pr_3">
              <p>Latest Products</p>
            </div>
            <div class="magicproduct-top-right-item">
              <p>Random Products</p>
            </div>
          </div>
        </div>
        <DeckListMagicProduct />
      </div>
    </div>
    <div class="box-product-bt pt-5">
      <div class="container">
        <DeckListDup />
      </div>
    </div>
  </div>
</template>
<script>
import DeckListMagicProduct from '@/components/DeckListMagicProduct/DeckList'
import CountDownClock from '@/components/DeckListMagicProduct/CountdownClock/index'
import DeckListDup from '@/components/DeckListMagicProduct/DeckListDup'
export default {
  components: {
    DeckListMagicProduct,
    CountDownClock,
    DeckListDup,
  },
  data() {
    return {
      title: 'FEATURED PRODUCTS',
    }
  },
}
</script>
<style lang="scss">
.banner-bt {
  .container {
    .banner-row {
      .banner-row-item {
        .banner-row-item-sub {
          .link-banner-bt {
            .img-banner-bt {
              transition: all 1s ease 0s;
              -moz-transition: all 1s ease 0s;
              -webkit-transition: all 1s ease 0s;
              -o-transition: all 1s ease 0s;
              -ms-transition: all 1s ease 0s;
            }
            .img-banner-bt:hover {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }
}
.maincontent {
  .container {
    .maincontent-wrap {
      .custom-product {
        &-image {
          &-sub {
            .img-fluid {
              max-height: 192px;
            }
          }
        }
      }
    }
  }
}
.box-product {
  background-color: white;
  .container {
    .magicproduct-top {
      &-left {
        h5 {
          font-weight: 600;
        }
      }
      &-right {
        &-item {
          p {
            color: #666;
          }
          p:hover {
            color: black;
          }
        }
      }
    }
    .magicproduct-bt {
      &-content {
        &-item {
          &-image {
            width: 100%;
            &-home {
              width: 95%;
              margin: 0 auto;
              border-left: 1px solid #eee;
              max-height: 255px;
              img {
                max-height: 255px;
                width: 100%;
              }
            }
          }
          &-text {
            .product-reviews-summary {
              color: yellow;
            }
            .product-name {
              a {
                color: #2557aa;
              }
            }
          }
        }
      }
    }
    .magicproduct-top-banner {
      &-image {
        img {
          transition: all 1s ease 0s;
          -moz-transition: all 1s ease 0s;
          -webkit-transition: all 1s ease 0s;
          -o-transition: all 1s ease 0s;
          -ms-transition: all 1s ease 0s;
        }
        img:hover {
          -webkit-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
    }
  }
}
.magicproduct {
  background: #eeee;
  padding-top: 70px;
  .container {
    background-color: white;
    .magicproduct-top {
      &-left {
        h5 {
          font-weight: 600;
        }
      }
    }
    .magicproduct-bt {
      &-content {
        &-item {
          &-image {
            width: 100%;
            &-home {
              width: 95%;
              margin: 0 auto;
              border-left: 1px solid #eee;
            }
          }
          &-text {
            .product-reviews-summary {
              color: yellow;
            }
          }
        }
      }
    }
  }
}
.box-product-bt {
  background: rgba(238, 238, 238, 0.93333);
  .container {
    background-color: white;
    .box-product-bt-content {
      &-bt {
        &-item {
          width: 30%;
          &-info {
            width: 100%;
            &-image {
              width: 63%;
            }
            &-details {
              width: 100%;
              &-price {
                font-size: 25px;
              }
              &-review {
                color: yellow;
              }
              &-name {
                .home-product-box-link {
                  font-weight: 900;
                  font-size: 14px;
                }
                a:hover {
                  color: tomato;
                }
              }
              &-hover-box {
                visibility: hidden;
              }
            }
          }
          &-info:hover {
            border: 1px solid #f2c557;
            transition: all 0.5s;
          }
          &-info:hover .box-product-bt-content-bt-item-info-details-hover-box {
            visibility: visible;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
</style>
