<template>
  <div class="myproduct-id pt-5">
    <div class="container d-flex flex-column">
      <div class="myproduct-id-top d_flex">
        <div class="myproduct-id-top-left w-50 d_flex flex_row">
          <div class="myproduct-id-top-left-image w-25 d_flex flex_column">
            <div class="myproduct-id-top-left-image-item">
              <ul>
                <li
                  v-for="(item, index) in listProductDetail"
                  :key="item._id"
                  @click="handleClickColor($event, index)"
                >
                  <img :src="item.image" />
                </li>
              </ul>
            </div>
          </div>
          <div class="myproduct-id-top-left-img w-75">
            <div class="myproduct-id-top-left-img-wrap h-100">
              <img :src="getProduct.image" class="h-100" />
            </div>
          </div>
        </div>
        <div class="myproduct-id-top-right w-50 d_flex flex_column">
          <div class="myproduct-id-top-right-title">
            <h5>{{ title }}</h5>
          </div>
          <div class="myproduct-id-top-right-branch">
            <h6>{{ branch }}</h6>
          </div>
          <div class="myproduct-id-top-right-review pt_2" style="color: yellow">
            <font-awesome-icon :icon="['fas', 'star']" />
            <font-awesome-icon :icon="['fas', 'star']" />
            <font-awesome-icon :icon="['fas', 'star']" />
            <font-awesome-icon :icon="['fas', 'star']" />
            <font-awesome-icon :icon="['fas', 'star']" />
          </div>
          <div class="myproduct-id-top-right-price d_flex pt_4">
            <div class="price el-icon-price-tag">{{ formatFinalPrice }}</div>
            <p class="pl_3">
              <del>{{ formatOriginPrice }}</del>
              <span class="sale-price">-{{ this.sale * 100 }}%</span>
            </p>
          </div>
          <div class="myproduct-id-top-right-quantity">
            <p>Còn Lại {{ getProduct.quantity }} Sản Phẩm</p>
          </div>
          <div class="myproduct-id-top-right-description">
            <div class="decoration py-3 border-top">
              {{ decoration }}
            </div>
          </div>
          <div class="myproduct-id-top-right-add-to-cart">
            <div
              class="
                myproduct-id-top-right-add-to-cart-quantity
                d_flex
                justify_content_between
              "
            >
              <button
                class="el-icon-minus btn btn_toolbar"
                @click="handleNumberMinus"
              ></button>
              <h5>{{ numberClick }}</h5>
              <button
                class="el-icon-plus btn"
                @click="handleNumberPlus"
              ></button>
            </div>
          </div>
          <div class="myproduct-id-top-right-click-number pt_4">
            <button
              class="btn btn_warning btn-block"
              @click="handleclickNumber()"
            >
              Add To Card
            </button>
          </div>
        </div>
      </div>
      <div class="box-s"></div>
      <DeckList class="border-top" />
    </div>
    <div class="box"></div>
    <div class="deck-list-dup" style="background-color: #eee">
      <div class="container bg-white">
        <DeckListDup />
      </div>
    </div>
  </div>
</template>
<script>
import DeckListDup from '@/components/DeckListMagicProduct/DeckListDup'
import DeckList from '@/components/DeckListMagicProduct/DeckList'
export default {
  components: {
    DeckListDup,
    DeckList,
  },
  asyncData(ctx, callback) {
    // eslint-disable-next-line nuxt/no-timing-in-fetch-data
    setTimeout(() => {
      callback(null, {
        title: 'Camera With Android Jelly Bean V4.1.2 OS, 16.3MP CMOS',
        branch: 'Sonny',
        decoration:
          'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, cum cupiditate doloremque ea eos harum impedit,' +
          ' iure iusto laudantium officiis provident qui repellat repudiandae sit veritatis. Deserunt officia tempore vel.',
        price: 250000,
        sale: 0.3,
        selectProduct: 0,
        numberClick: 0,
        descriction: [{ text: 'High-precision lens provides' }],
        listProductDetail: [
          {
            image:
              'https://m2.alothemes.com/expert/media/catalog/product/cache/430fb35a7fa8cbd2b1ef99c1efa94d1f/2/3/23.jpg',
            quantity: 15,
            textColor: 'Màu Trắng',
            decoration: '',
          },
          {
            image:
              'https://m2.alothemes.com/expert/media/catalog/product/cache/430fb35a7fa8cbd2b1ef99c1efa94d1f/7/_/7.jpg',
            quantity: 30,
            textColor: 'Màu Đen',
          },
          {
            image:
              'https://m2.alothemes.com/expert/media/catalog/product/cache/430fb35a7fa8cbd2b1ef99c1efa94d1f/1/6/16.jpg',
            quantity: 6,
          },
          {
            image:
              'https://m2.alothemes.com/expert/media/catalog/product/cache/430fb35a7fa8cbd2b1ef99c1efa94d1f/1/_/1.jpg',
            quantity: 10,
            textColor: 'Màu ',
          },
        ],
      })
    }, 1500)
  },
  computed: {
    formatOriginPrice() {
      const number = this.price
      return new Intl.NumberFormat('de-DE', {
        style: 'currency',
        currency: 'VND',
      }).format(number)
    },
    formatFinalPrice() {
      const number = this.price - this.sale * this.price
      return new Intl.NumberFormat('de-DE', {
        style: 'currency',
        currency: 'VND',
      }).format(number)
    },
    getProduct() {
      const index = this.selectProduct
      return this.listProductDetail[index]
    },
  },
  methods: {
    handleClickColor(e, index) {
      this.selectProduct = index
    },
    handleNumberMinus() {
      this.numberClick = this.numberClick - 1
    },
    handleNumberPlus() {
      this.numberClick = this.numberClick + 1
    },
  },
}
</script>
<style lang="scss">
.el-icon-minus::before,
.el-icon-plus::before {
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  padding: 5px;
}
.myproduct-id {
  .container {
    .myproduct-id-top {
      &-left {
        width: 60%;
        &-image {
          width: 20%;
          &-item:focus {
            border: 1px solid #f2c557;
          }
        }
        &-img {
          &-wrap {
            width: 85%;
            margin: 0 auto;
          }
        }
      }
      &-right {
        &-add-to-cart {
          width: 30%;
          border: 1px solid #999;
          &-quantity {
            h5 {
              margin-top: 6px;
            }
          }
        }
      }
    }
  }
}
</style>
