<template>
  <div class="deck-list-sup">
    <div class="sub">
      <div class="deck-item d-flex flex-column">
        <div class="card_title py-3">
          <h6 class="font-weight-bold ml-3">{{ title }}</h6>
        </div>
        <div class="deck-list">
          <div class="deck-list-item d-flex flex-wrap">
            <ul
              v-for="ListProduct in ListProduct"
              :key="ListProduct.ListProduct"
              class="col-sm-4 pb-3 d-flex justify-content-between"
            >
              <li>
                <div class="list-sub pl-0 d-flex flex-row">
                  <div class="image">
                    <div class="sub-img">
                      <img :src="ListProduct.thumbnail" alt="" />
                    </div>
                  </div>
                  <div class="content pl-3">
                    <div class="price">
                      <p class="font-weight-bold">
                        <span class="pr-1 font-weight-bold mb-0">$</span>
                        {{ ListProduct.price }}
                      </p>
                    </div>
                    <div class="preview text-warning py-1">
                      <font-awesome-icon :icon="['fas', 'star']" />
                      <font-awesome-icon :icon="['fas', 'star']" />
                      <font-awesome-icon :icon="['fas', 'star']" />
                      <font-awesome-icon :icon="['fas', 'star']" />
                      <font-awesome-icon :icon="['fas', 'star']" />
                    </div>
                    <div class="name">
                      <nuxt-link to="/home/myproduct_id">
                        {{ ListProduct.name }}</nuxt-link
                      >
                    </div>
                    <div class="store py-3">
                      <div class="sub d-flex justify-content-between w-25">
                        <div class="cart">
                          <button class="btn" type="submit" title="Add to Cart">
                            <font-awesome-icon
                              :icon="['fas', 'shopping-basket']"
                            />
                          </button>
                        </div>
                        <div class="heart">
                          <button class="btn" type="submit" title="Wish List">
                            <font-awesome-icon :icon="['fas', 'heart']" />
                          </button>
                        </div>
                        <div class="compare">
                          <button class="btn" type="submit" title="Compare">
                            <font-awesome-icon :icon="['fas', 'retweet']" />
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      title: 'LATEST PRODUCTS',
      ListProduct: [
        {
          id: 1,
          price: '250.000',
          name: '10.6 Full HD Laptop Computer Lap book with Windows 10',
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/9/_/9_16.jpg',
        },
        {
          id: 1,
          price: '250.000',
          name: '10.6 Full HD Laptop Computer Lap book with Windows 10',
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/1/7/17_2.jpg',
        },
        {
          id: 1,
          price: '250.000',
          name: '10.6 Full HD Laptop Computer Lap book with Windows 10',
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/2/_/2_1.png',
        },
        {
          id: 1,
          price: '250.000',
          name: '10.6 Full HD Laptop Computer Lap book with Windows 10',
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/1/5/15_6.jpg',
        },
        {
          id: 1,
          price: '250.000',
          name: '10.6 Full HD Laptop Computer Lap book with Windows 10',
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/3/_/3_2.png',
        },
        {
          id: 1,
          price: '250.000',
          name: '10.6 Full HD Laptop Computer Lap book with Windows 10',
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/1/_/1.png',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.deck-list-sup {
  .sub {
    .deck-item {
      .deck-list {
        .deck-list-item {
          ul {
            li {
              .list-sub {
                .store {
                  visibility: hidden;
                  .sub > div {
                    border: 1px solid #d9d9d9;
                    margin-left: 10px;
                  }
                  .sub {
                    .cart {
                      background: linear-gradient(
                        0deg,
                        #f0c049 0%,
                        #fbdd99 100%
                      );
                    }
                    .cart:hover {
                      background: -webkit-linear-gradient(
                        90deg,
                        #fbdd99 0%,
                        #f0c049 100%
                      );
                    }
                    .heart:hover,
                    .compare:hover {
                      background: -webkit-linear-gradient(
                        90deg,
                        #fbdd99 0%,
                        #f0c049 100%
                      );
                    }
                  }
                }
              }
            }
            li:hover {
              .list-sub {
                .store {
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
