<template>
  <div>
    <div class="card_title py-3">
      <h6 class="font-weight-bold ml-3">{{ title }}</h6>
    </div>
    <div
      class="magicproduct-bt owl-carousel pb_4 d_flex justify_content_between"
    >
      <div
        v-for="decks in decks"
        :key="decks.id"
        class="magicproduct-bt-content mr_3"
      >
        <div class="magicproduct-bt-content-item d_flex flex_column">
          <div class="magicproduct-bt-content-item-image">
            <div class="magicproduct-bt-content-item-image-home">
              <img :src="decks.thumbnail" class="img" />
            </div>
          </div>
          <div class="magicproduct-bt-content-item-text">
            <div class="magicproduct-bt-content-item-text-price">
              <p class="el-icon-price-tag price">{{ decks.price }}</p>
            </div>
            <div class="product-reviews-summary pb_2">
              <font-awesome-icon :icon="['fas', 'star']" />
              <font-awesome-icon :icon="['fas', 'star']" />
              <font-awesome-icon :icon="['fas', 'star']" />
              <font-awesome-icon :icon="['fas', 'star']" />
              <font-awesome-icon :icon="['fas', 'star']" />
            </div>
            <div class="product-name">
              <h6>
                <nuxt-link to="/home/myproduct_id">{{ decks.name }} </nuxt-link>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      title: 'FEATURED PRODUCTS',
      decks: [
        {
          id: 1,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/6/_/6.jpg',
          price: 250000,
          name: 'KDL 50W900B 50 Inch Full HD 3D Smart LED Television Price in India',
        },
        {
          id: 1,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/430fb35a7fa8cbd2b1ef99c1efa94d1f/7/_/7_1.jpg  ',
          price: 250000,
          name: 'KDL 50W900B 50 Inch Full HD 3D Smart LED Television Price in India',
        },
        {
          id: 1,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/6/_/6.jpg',
          price: 250000,
          name: 'KDL 50W900B 50 Inch Full HD 3D Smart LED Television Price in India',
        },
        {
          id: 1,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/6/_/6.jpg',
          price: 250000,
          name: 'KDL 50W900B 50 Inch Full HD 3D Smart LED Television Price in India',
        },
      ],
    }
  },
}
</script>
<style>
.img {
  max-height: 255px;
}
</style>
