<template>
  <div class="computer">
    <Banner />
    <div class="container d_flex flex_column">
      <Computers />
    </div>
  </div>
</template>
<script>
import Banner from '@/components/HomePage/SectionBanner/index'
import Computers from '@/components/CardList/index'
export default {
  components: {
    Banner,
    Computers,
  },
}
</script>
