<template>
  <footer>
    <div class="box"></div>
    <div class="container py_3 d_flex flex_column">
      <div class="footer-top d_flex flex_row justify_content_between">
        <div class="footer-left">
          <div class="footer-left-content d_flex flex_column">
            <div class="footer-left-content-header pb_3">
              <h6>CONTACT DETAILS</h6>
            </div>
            <div class="footer-left-content-text d_flex flex_column">
              <div class="el-icon-map-location d_flex">
                <p class="pl-3">
                  45 Grand Central Terminal New York,NY 1017 United State USA
                </p>
              </div>
              <div class="el-icon-phone d_flex">
                <p class="pl-3">+ 0901774744</p>
              </div>
              <div class="envelope d_flex">
                <font-awesome-icon :icon="['fas', 'envelope']" />
                <p class="pl-3">nguyendinhan@gmail.com</p>
              </div>
              <div class="el-icon-alarm-clock d_flex">
                <p class="pl-3">Mon-Sat 9:00pm - 5:00pm Sun:Closed</p>
              </div>
            </div>
            <div class="footer-left-content-socials pt_3">
              <div class="footer-left-content-socials-icon d_flex">
                <nuxt-link to="/" class="icon">
                  <font-awesome-icon :icon="['fab', 'twitter']" /> </nuxt-link
                ><nuxt-link to="/" class="icon">
                  <font-awesome-icon
                    :icon="['fab', 'facebook-f']"
                  /> </nuxt-link
                ><nuxt-link to="/" class="icon">
                  <font-awesome-icon
                    :icon="['fab', 'instagram-square']"
                  /> </nuxt-link
                ><nuxt-link to="/" class="icon">
                  <font-awesome-icon :icon="['fab', 'youtube']" /> </nuxt-link
                ><nuxt-link to="/" class="icon">
                  <font-awesome-icon :icon="['fab', 'pinterest']" />
                </nuxt-link>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-center">
          <div class="footer-center-content d_flex">
            <div class="footer-center-content-left">
              <div class="footer-center-content-left-header pb_3">
                <h6>CUSTOMER</h6>
              </div>
              <div class="footer-center-content-left-text d_flex flex_column">
                <p>Shipping & Returns</p>
                <p>Secure Shopping</p>
                <p>Order Status</p>
                <p>International Shipping</p>
                <p>Affiliates</p>
              </div>
            </div>
            <div class="footer-center-content-right">
              <div class="footer-center-content-right-header pb_3">
                <h6>INFORMATION</h6>
              </div>
              <div class="footer-center-content-right-text d_flex flex_column">
                <p>Shipping & Returns</p>
                <p>Secure Shopping</p>
                <p>Order Status</p>
                <p>International Shipping</p>
                <p>Affiliates</p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-right-content">
            <div class="footer-right-content-header pb_3">
              <h6>Get 25% Off first purchase!</h6>
            </div>
            <div class="footer-right-content-text">
              <div class="footer-right-content-text-search">
                <nav class="navbar navbar-light" style="background: #222">
                  <form class="form-inline">
                    <input
                      class="form-control mr-sm-2"
                      type="search"
                      placeholder="Search"
                      aria-label="Search"
                    />
                    <button
                      class="btn btn-outline-success my-2 my-sm-0"
                      type="submit"
                    >
                      Search
                    </button>
                  </form>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="center-footer mt_5">
      <div class="container d_flex flex_column">
        <div class="footer-center-one d-none">
          <ul class="d_flex flex_row">
            <li>
              <nuxt-link to="/" class="link-center-footer">Digital</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">GroupWeb</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >MarketplaceDigital.com</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Juhuasuan</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >AliExpress</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >Suppermarket</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">1688.com</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Alimama</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >AliTelecom</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Autonavi</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">UCWeb</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Umeng</nuxt-link>
            </li>
          </ul>
        </div>
        <div class="footer-center-one d-none">
          <ul class="d_flex flex_row">
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >Browse Alphabetically:</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >Digital Expo</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Onetouch</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Showroom</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >Country Search</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Suppliers</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer"
                >Digital Sale</nuxt-link
              >
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Affiliate</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Ding Talk</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Alipay</nuxt-link>
            </li>
            <li>
              <nuxt-link to="/" class="link-center-footer">Lazada</nuxt-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
<style lang="scss">
footer {
  background-color: #222;
  color: white;
  .container {
    color: #999;
    font-family: sans-serif, auto;
    width: 100%;
    .footer-top {
      width: 100%;
      h6 {
        font-weight: bold;
        color: #fff;
      }
      .footer-left {
        width: 28%;
        &-content {
          font-family: auto, serif;
          &-socials {
            &-icon {
              a {
                border-radius: 30px;
                width: 45px;
                height: 45px;
                line-height: 48px;
                text-align: center;
                color: #7a7a7a;
                background-color: #fff;
                border-color: #fff;
                margin-left: 15px;
              }
              a:hover {
                background-color: #f2c557;
                transition: all 0.5s ease;
              }
            }
          }
        }
      }
      .footer-center {
        width: 30%;
        &-content {
          justify-content: space-between;
        }
      }
    }
  }
  .center-footer {
    border-color: #323232;
    border-top: 1px solid #323232;
    position: relative;
    .container {
      .footer-center-one {
        ul {
          li {
            padding-top: 10px;
            .link-center-footer {
              color: #999;
              margin-left: 10px;
              padding-right: 10px;
              margin-top: 10px;
              content: '';
              top: 50%;
              height: 12px;
              border-right: solid 1px #999;
              right: -7px;
              transform: translate(0, -50%);
            }
            .link-center-footer:hover {
              color: #00adee;
            }
          }
        }
      }
    }
  }
}
</style>
