<template>
  <div>
    <Header />
    <Nuxt />
    <Footer />
  </div>
</template>

<script>
import Header from '@/components/Header/Header'
import Footer from '@/components/Footer/Footer'
export default {
  components: {
    // eslint-disable-next-line vue/no-unused-components
    Header,
    Footer,
  },
}
</script>

<style>
.price {
  font-weight: 600;
  font-size: 20px;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  object-fit: contain;
}
.el-icon-price-tag {
  font-weight: bold;
  font-size: 21px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: serif;
}
ul li,
ul li:hover {
  text-decoration: none;
  list-style-type: none;
}
ul li a:hover {
  text-decoration: none;
  list-style-type: none;
}
.container {
  max-width: 1200px;
  padding: 0 7px;
  margin: 0 auto;
  display: flex;
}
ol {
  list-style-type: none;
}
.box-s {
  padding-top: 70px;
}
.box {
  padding-top: 70px;
  background: #eee;
}
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
