<template>
  <div class="wrap">
    <div class="d_flex flex_column">
      <banner />
      <MagicProduct />
    </div>
  </div>
</template>
<script>
import Banner from '@/components/HomePage/SectionBanner/index'
import MagicProduct from '@/components/HomePage/MagicProduct/index'
export default {
  components: {
    Banner,
    MagicProduct,
  },
}
</script>
<style>
.wrap {
  background-color: gray(238);
}
.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
