<template>
  <div class="home">
    <Banner />
    <div class="container d_flex flex_column"></div>
  </div>
</template>
<script>
import Banner from '@/components/HomePage/SectionBanner/index'
export default {
  components: {
    Banner,
  },
}
</script>
