<template>
  <div>
    <div class="top d-flex flex-row justify-content-between">
      <div class="menu-computers w-25 pr-5">
        <div class="container d-flex flex-column">
          <div class="title-menu card-title">
            <div class="item">
              <div class="title">
                <h6 class="mt-2 ml-2 font-weight-bold">{{ title }}</h6>
              </div>
            </div>
          </div>
          <div class="decks-menu-top">
            <div class="decks-menu-top-content">
              <ul>
                <li>
                  <nuxt-link to="/">Computers & Laptops </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">collapse</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/"> Accessories </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">collapse</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">Cameras</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">Tv & Audio</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">Smartphone & Table </nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">Printers & Ink</nuxt-link>
                </li>
                <li>
                  <nuxt-link to="/">Game & Consoles</nuxt-link>
                </li>
                <li style="border: none">
                  <nuxt-link to="/">All Categories</nuxt-link>
                </li>
              </ul>
            </div>
          </div>
          <div class="decks-menu-bt mt-5">
            <div class="decks-menu-bt-content">
              <div class="title">
                <div class="title-item">
                  <h4>Shop By</h4>
                </div>
              </div>
              <div class="list">
                <div class="list-item">
                  <div class="list-item-color">
                    <div class="sub"><h5>Color</h5></div>
                  </div>
                  <div class="list-item-manufacture">
                    <div class="sub">
                      <h6>MANUFACTURER</h6>
                    </div>
                  </div>
                  <div class="list-item-price">
                    <div class="sub">
                      <h6>Price</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="computed-deck-list w-75">
        <div class="w-100">
          <div class="decks-list w-100">
            <div class="menu-top-header w-100">
              <div class="title-menu-top mb-2">
                <h5 class="font-weight-bold">{{ title }}</h5>
              </div>
              <div
                class="
                  item-menu-top
                  pt-3
                  d-flex
                  flex-row
                  justify-content-between
                "
              >
                <div class="top-left d-flex w-75">
                  <div class="top-left-item pr-3">
                    <p class="text-black-50">
                      Items
                      <span class="font-weight-bold text-dark">1-12</span> of
                      <span class="font-weight-bold">16</span>
                    </p>
                  </div>
                  <div class="top-left-option d-flex pr-3">
                    <div class="text text-black-50 pr-3">
                      <p>Sort By</p>
                    </div>
                    <div class="menu pr-3">
                      <p class="pl-3 d-flex justify-content-between">
                        <span>Menu</span>
                        <span
                          ><font-awesome-icon :icon="['fas', 'angle-down']"
                        /></span>
                      </p>
                    </div>
                    <div class="icon pl-2 text-black-50 font-weight-bold">
                      <font-awesome-icon :icon="['fas', 'arrow-up']" />
                    </div>
                  </div>
                  <div class="amount-of d-flex">
                    <div class="text text-black-50 pr-2">
                      <span>Show</span>
                    </div>
                    <div class="number pl-3 d-flex justify-content-between">
                      <span>12</span>
                      <span class="pr-1">
                        <font-awesome-icon :icon="['fas', 'angle-down']" />
                      </span>
                    </div>
                  </div>
                </div>
                <div class="top-right w-25 pl-4 d-flex flex-row">
                  <div class="grid d-flex align-items-center">
                    <font-awesome-icon :icon="['fas', 'th-large']" />
                    <p class="pl-2 m-0">Grid</p>
                  </div>
                  <div class="list pl-2 d-flex align-items-center">
                    <font-awesome-icon :icon="['fas', 'th-list']" />
                    <p class="pl-2 m-0">List</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="border my-3"></div>
            <div class="deck-list-content">
              <div class="decks-main">
                <div class="list-product">
                  <ul class="d-flex flex-row pl-0 flex-wrap">
                    <li
                      v-for="decks in deckslist"
                      :key="decks.id"
                      :name="decks.name"
                      :thumbnail="decks.thumbnail"
                      :price="decks.price"
                    >
                      <nuxt-link to="/home/myproduct_id">
                        <div class="product-item">
                          <div class="product-item-sub">
                            <div class="image">
                              <div class="sub">
                                <img :src="decks.thumbnail" alt="" />
                              </div>
                            </div>
                            <div class="store">
                              <div
                                class="sub d-flex justify-content-between w-25"
                              >
                                <div class="cart">
                                  <button
                                    class="btn"
                                    type="submit"
                                    title="Add to Cart"
                                  >
                                    <font-awesome-icon
                                      :icon="['fas', 'shopping-basket']"
                                    />
                                  </button>
                                </div>
                                <div class="heart">
                                  <button
                                    class="btn"
                                    type="submit"
                                    title="Wish List"
                                  >
                                    <font-awesome-icon
                                      :icon="['fas', 'heart']"
                                    />
                                  </button>
                                </div>
                                <div class="compare">
                                  <button
                                    class="btn"
                                    type="submit"
                                    title="Compare"
                                  >
                                    <font-awesome-icon
                                      :icon="['fas', 'retweet']"
                                    />
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="content pt-3">
                              <div class="pricer font-weight-bold">
                                {{ decks.price }}
                              </div>
                              <div class="preview py-3 text-warning">
                                <font-awesome-icon :icon="['fas', 'star']" />
                                <font-awesome-icon :icon="['fas', 'star']" />
                                <font-awesome-icon :icon="['fas', 'star']" />
                                <font-awesome-icon :icon="['fas', 'star']" />
                                <font-awesome-icon :icon="['fas', 'star']" />
                              </div>
                              <div class="name">
                                <nuxt-link to="/home/myproduct_id">{{
                                  decks.name
                                }}</nuxt-link>
                              </div>
                            </div>
                          </div>
                        </div>
                      </nuxt-link>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <DeckListDup class="pt-5" />
  </div>
</template>
<script>
import DeckListDup from '@/components/DeckListMagicProduct/DeckListDup'
export default {
  components: {
    DeckListDup,
  },
  data() {
    return {
      title: 'COMPUTERS & LAPTOPS',
      deckslist: [
        {
          id: 1,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 2,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 3,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 4,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 5,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 6,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 7,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 8,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
        {
          id: 9,
          thumbnail:
            'https://m2.alothemes.com/expert/media/catalog/product/cache/9d945a6581b7827cc577e98cfc7966fd/4/_/4_1.jpg',
          price: '$350.000',
          name: '10.6 Full HD Computer Lap book with Windows 10 Notebook',
        },
      ],
    }
  },
}
</script>
<style lang="scss">
.top {
  .menu-computers {
    .container {
      .title-menu {
        border: 1px solid #d9d9d9;
      }
      .decks-menu-top {
        width: 100%;
        border: 1px solid #d9d9d9;
        &-content {
          width: 95%;
          margin: 0 auto;
          ul {
            padding-left: 0;
            li {
              border-bottom: 1px solid #d9d9d9;
              padding: 10px;
              a {
                color: black;
              }
            }
          }
        }
      }
      .decks-menu-bt {
        width: 100%;
        border: 1px solid #d9d9d9;
        .decks-menu-bt-content {
          width: 95%;
          margin: 0 auto;
          .title > div {
            padding: 10px;
          }
          .list {
            .list-item > div {
              border-top: 1px solid #d9d9d9;
              padding: 10px;
            }
          }
        }
      }
    }
  }
  .computed-deck-list {
    .w-100 {
      .decks-list {
        .menu-top-header {
          .item-menu-top {
            height: 42px;
            /// Top Right ////////////
            .top-left {
              height: 25px;
              &-option {
                .menu {
                  border: 1px solid #d9d9d9;
                  width: 130px;
                }
              }
              .amount-of {
                .number {
                  border: 1px solid #d9d9d9;
                  width: 60px;
                }
              }
            }
            /// Top Right //
            .top-right {
              padding: 0;
            }
          }
        }
        .deck-list-content {
          .decks-main {
            .list-product {
              ul {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                li {
                  padding: 0 15px 15px;
                  width: 32.333333%;
                  border-bottom: 1px solid #d9d9d9;
                  a {
                    .product-item {
                      .image {
                        .sub {
                          img {
                            width: 100%;
                          }
                        }
                      }
                      .store {
                        visibility: hidden;
                        .sub > div {
                          border: 1px solid #d9d9d9;
                          margin-left: 10px;
                        }
                        .sub {
                          .cart {
                            background: linear-gradient(
                              0deg,
                              #f0c049 0%,
                              #fbdd99 100%
                            );
                          }
                          .cart:hover {
                            background: -webkit-linear-gradient(
                              90deg,
                              #fbdd99 0%,
                              #f0c049 100%
                            );
                          }
                          .heart:hover,
                          .compare:hover {
                            background: -webkit-linear-gradient(
                              90deg,
                              #fbdd99 0%,
                              #f0c049 100%
                            );
                          }
                        }
                      }
                    }
                  }
                }
                li:hover {
                  a {
                    .product-item {
                      .store {
                        visibility: visible;
                        .sub {
                          transition: all 0.5s ease;
                          -webkit-transform: scale(1);
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
