<template>
  <div v-if="loader" class="countdown-clock">
    <h5 v-if="!expired" class="font_weight_bold text-danger">Sale</h5>
    <h5 v-else class="font_weight_bold text-danger">
      <del>Time Out Sale</del>
    </h5>
    <section
      class="countdown-clock-section d-flex flex-row justify-content-between"
    >
      <div class="days mr-2 col text-center">
        {{ displayDays }}
        <div class="days-text">Days</div>
      </div>
      <span>:</span>
      <div class="hours mr-2 col text-center">
        {{ displayHours }}
        <div class="days-text">Hours</div>
      </div>
      <span>:</span>
      <div class="minutes mr-2 col text-center">
        {{ displayMinutes }}
        <div class="days-text">Minutes</div>
      </div>
      <span>:</span>
      <div class="seconds mr-2 col text-center">
        {{ displaySeconds }}
        <div class="days-text">Seconds</div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  props: ['year', 'month', 'date', 'hour', 'minutes', 'second', 'millisecond'],
  data() {
    return {
      displayDays: 0,
      displayHours: 0,
      displayMinutes: 0,
      displaySeconds: 0,
      loader: false,
      expired: false,
    }
  },
  computed: {
    _seconds: () => 1000,
    _minutes() {
      return this._seconds * 60
    },
    _hours() {
      return this._minutes * 60
    },
    _days() {
      return this._hours * 24
    },
    end() {
      return new Date(
        this.year,
        this.month,
        this.date,
        this.hour,
        this.minutes,
        this.second,
        this.millisecond
      )
    },
  },
  mounted() {
    this.showRemaining()
  },
  methods: {
    formatNum: (num) => (num < 10 ? '0' + num : num),
    showRemaining() {
      const timer = setInterval(() => {
        const now = new Date()
        // const end = new Date(2021, 4, 23, 10, 10, 10, 10)
        const ditance = this.end.getTime() - now.getTime()

        if (ditance < 0) {
          clearInterval(timer)
          this.expired = true
          return
        }
        const days = Math.floor(ditance / this._days)
        const hours = Math.floor((ditance % this._days) / this._hours)
        const minutes = Math.floor((ditance % this._hours) / this._minutes)
        const seconds = Math.floor((ditance % this._minutes) / this._seconds)
        this.displayMinutes = this.formatNum(minutes)
        this.displaySeconds = this.formatNum(seconds)
        this.displayHours = this.formatNum(hours)
        this.displayDays = this.formatNum(days)
        this.loader = true
      }, 1000)
    },
  },
}
</script>
<style lang="scss">
.countdown-clock {
  .countdown-clock-section > div {
    border: 1px solid #888;
  }
}
</style>
